* { 
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: none;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

.main { 
    background-image: url(background_image.jpeg);
}

.box { 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 70px;
    margin-right: 70px;
    height: 920px;
}

#Netflix { 
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#metin {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.box2{
    background-color: black;
    position: relative;
    margin: auto;
    padding: 25px;
    width: 380px;
}

.input { 
    display: inline-block;
    width: 330px;
    height: 45px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 6px;
    font-size: 11px;
}

.input1 { 
    display: inline-block;
    width: 330px;
    height: 40px;
    border-radius: 10px;
}

.input1::placeholder { 
    text-align: center;
}

.font {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}

.txt {
  
 
    font-size: 15;
    padding:5px;
}

#send{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;                                  
    margin: auto;
    width: 120px;
    height: 45px;
    background-color: #E50914;
    color: white;
    border-radius: 30px;
}